{{define "config_form"}}
<div class="grid">
    <div class="col-4">
        <label for="anomaliesOnly">Anomalies Only:</label>
        <input type="checkbox" id="anomaliesOnly" name="anomaliesOnly" {{if .AnomaliesOnly}}checked{{end}}>
    </div>
</div>
<div class="grid">
    <div class="col-4">
        <label for="messagepattern">Message Pattern:</label>
        <input type="text" id="messagepattern" name="messagepattern" value="{{.MessagePattern}}">
    </div>
</div>
<div class="grid">
    <div class="col-4">
        <label for="severity">Severity (0-7):</label>
        <input type="number" id="severity" name="severity" min="0" max="7" value="{{.Severity}}">
    </div>
</div>
<div class="grid">
    <div class="col-4">
        <label for="appname">App Name:</label>
        <input type="text" id="appname" name="appname" value="{{.AppName}}">
    </div>
</div>
<div class="grid">
    <div class="col-4">
        <label for="hostname">Host Name:</label>
        <input type="text" id="hostname" name="hostname" value="{{.HostName}}">
    </div>
</div>
{{end}}
