{{define "config_form"}}
<label for="anomaliesOnly">Anomalies Only:</label>
<input type="checkbox" id="anomaliesOnly" name="anomaliesOnly" {{if .AnomaliesOnly}}checked{{end}}> <br><br>
<label for="messagepattern">Message Pattern:</label>
<input type="text" id="messagepattern" name="messagepattern" value="{{.MessagePattern}}"><br><br>
<label for="severity">Severity (0-7):</label>
<input type="number" id="severity" name="severity" min="0" max="7" value="{{.Severity}}"><br><br>
<label for="appname">App Name:</label>
<input type="text" id="appname" name="appname" value="{{.AppName}}"><br><br>
<label for="hostname">Host Name:</label>
<input type="text" id="hostname" name="hostname" value="{{.HostName}}"><br><br>
{{end}}
