{{ define "logtable" }}
<div class="container">
    <div class="grid">
        <input type="text" id="search-input" placeholder="Search messages..." onkeyup="searchTable()">
        <div><button  hx-post="/clear" hx-target="#syslog-tbody" hx-swap="innerHTML" class="button">Clear Table</button></div>
    </div>
    
    <table id="syslog-table" hx-get="/messages" hx-target="#syslog-tbody" hx-trigger="load, every 5s" hx-indicator="#spinner" hx-swap="innerHTML">
        <thead>
            <tr>
                <th>#</th>
                <th>Timestamp</th>
                <th>Hostname</th>
                <th>Appname</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody id="syslog-tbody">
            <tr><td colspan="5">No messages yet.</td></tr>
        </tbody>
    </table>
</div>
{{ end }}